body {
    padding: 0;
    margin: 0;
    background-color: rgb(4, 3, 49);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.main-header {
    
    display: flex;
    align-items: center;
}

#isconnected {
    width: 45px;
    height: 45px;
    background-color: rgb(214, 214, 200);
    border-radius: 50%;
    margin-left: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header img {
    width: 30px;
    height: 30px;
}

.header_title {
    margin: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard {
    margin: 20px;
}

.main-header {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0px 5px 0 5px;
    background-color: rgb(7, 32, 43);
    border-radius: 10px;
}

h3 {
    width: 90%;
}

.light {
    margin: 16px;
    background-color: rgb(16, 8, 24);
    box-shadow: 1px 1px 1px 1px rgb(14, 78, 80);
    padding: 28px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

#flybridge_status, #courtesy_status, #ladder_status, #other_status, #anchor_area_status {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;

    box-shadow: 1px 1px 1pxrgb(4, 75, 7);
}

img {
    width: 40px;
    margin:auto;
}

button {
    margin: 10px;
}